.footer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.footer .social {
  display: flex;
  gap: 2rem;
}

.footer .fa {
  font-size: 1.7rem;
}

.footer .fa:hover {
  background-color: var(--off-white);
}
